@import "./normalize";
@import "./block/header";
@import "./block/hero";
@import "./block/description";
@import "./block/clients";
@import "./block/footer";


 body{
   font-family: 'Raleway';
 }

 .container{
   max-width: 1120px;
   margin: 0 auto;
  }

 @media screen and (max-width:768px) {

  .container{
    max-width: 748px;
  }

 }
